/* **************************************** */
/* HEADER */
/* **************************************** */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  height: 8rem;
  background-color: #d5e8d8;
}
.header .logo {
  height: 2.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 0;
  border-bottom: 3px solid transparent;
}
.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 3px solid #226e32;
}
/* **************************************** */
/* HERO SECTION */
/* **************************************** */
.section-hero {
  background-color: #d5e8d8;
  padding: 4.8rem 0 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  height: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  z-index: 10;
  transition: all 0.2s;
}

.hero-img:hover {
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0, 0.5);
  z-index: 20;
}

.btn-animated {
  animation: moveInBottom 0.75s ease-out 0.02s;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* **************************************** */
/* FEATURES SECTION */
/* **************************************** */
.section-features {
  padding: 9.6rem 0;
  /* background-color: #eaf3ec; */
  background: linear-gradient(to right, #faffd1, #a1ffce);
}


.feature-icon {
  display: inline-block;
  color: #2b8a3e;
  height: 5.2rem;
  width: 5.2rem;
  background-color: #eaf3ec;
  margin-bottom: 3.2rem;
  padding: 0.8rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.4;
}

/* **************************************** */
/* PRODUCTS SECTION */
/* **************************************** */
.section-featured-products {
  padding: 9.6rem 0;
  background-color: #eaf3ec;
}

/* **************************************** */
/* ABOUT PAGE */
/* **************************************** */
.section-about {
  padding: 9.6rem 0;
  background: linear-gradient(to left, #faffd1, #a1ffce);
}

.about {
  padding: 0 2.4rem;
}

.about-img {
  width: 100%;
}

.about-text {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/* **************************************** */
/* MEDIA QUERIES */
/* **************************************** */
@media only screen and (max-width: 1213px) {
  .heading-primary{
    font-size: 4.8rem;
  }

  .heading-secondary{
    font-size: 3.8rem;
  }

  .heading-tertiary{
    font-size: 2.2rem;
  }

  .feature-text{
    font-size: 1.6rem;
  }

  .hero-img{
    width: 95%;
    object-fit: cover;
  }

  .grid-gap-lg{
    gap: 5.2rem;
  }

  .product-name, .product-price{
    font-size: 1.6rem;
  }

  .product-view{
    font-size: 1.6rem;
  }
  
  .hero-description{
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
  }

  .footer-txt{
    font-size: 1.4rem;
  }

  .header .logo{
    height: 2rem;
  }

  .btn-big{
    font-size: 1.8rem;
  }
  .about-text{
    font-size: 1.8rem;
  }
 }
@media only screen and (max-width: 812px) {
  .header .logo{
    height: 1.6rem;
  }

  .container{
    padding: 0 5.4rem;
  }

  .main-nav-list{
    gap: 2.8rem;
  }

  .hero-text-box{
    grid-column: 1 / span 2;
  }

  .hero-img-box{
    display: none;
  }

  .main-nav-link:link{
    font-size: 1.6rem;
  }

  .heading-primary{
    margin-bottom: 2.4rem;
  }

  .grid-4-cols, .grid-3-cols, .grid-2-cols{
   grid-template-columns: 1fr; 
  }

  .about-text{
    font-size: 1.6rem;
  }
 }
